body{
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: #072146;
    padding-left: 50px;
}

.lg_bbva{
    max-width: 100px;
    width: 100%;
    display: block;
    margin-top: 13px;
}

.links-1{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.personas, .empresas{
    font-size: 14px;
    font-weight: 600;
}

#personas{
    color: white;
    border-bottom: 4px solid white;
    padding-bottom: 14px;
}

.empresas:hover{
    color: white;
}

.link-trj:hover{
    color: white;
}

.haceteCliente:hover{
    color: white;
}

.links-1 li{
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.links-1 a{
    color: rgb(194, 194, 194);
    text-decoration: none;
}

.links-2{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links-2 a{
    text-decoration: none;
}

.btn-link{
    width: 100%;
    height: 100%;
    background-color: #028484;
    display: block;
    padding: 8px 4px;
    color: white;
}

.btn-link:hover{
    color: white;
    background-color: #00b6b6;
    transition: 0.2s linear all;
}

.btn{
    color: white;
}

.btn:hover{
    color: white;
}

.btn-menu{
    border: none;
    background-color: #072146;
    color: white;
}

.lupa{
    color: white;
}

.haceteCliente{
    color: #F8CD51;
}

.link-trj{
    color: rgb(194, 194, 194);
    border-right: 1px solid rgb(194, 194, 194);
    padding-right: 40px;
}

@media screen and (max-width: 1180px) {
    .link-trj{
        display: none;
    }
    .btn{
        width: 120px
    }
    
    .btn-menu{
        margin-left: 15px;
        margin-right: 25px;
    }
}

@media  screen and (max-width:945px) {
    .lupa2{
        display: none;
    }
}

@media screen and (max-width:800px) {
    .links-1{
        display: none;
    }
    .lg_bbva{
        width: 200px;
    }
    .haceteCliente{
        display: none;
    }
}

/*estilo chat flotante*/

.conteinerChat{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 3px 3px 6px  rgb(136, 136, 136);
    position: fixed;
    bottom: 15px;
    left: 20px;
    z-index: 10;
    cursor: pointer;
    border-radius: 5px;
}

.chat{
    text-decoration: none;
}

.chat p{
    font-weight: bold;
}

/*mensaje flotante derecho*/

.containerFlotante{
    position: fixed;
    z-index: 10;
    right: 10px;
    bottom: 10px;
    background-color: whitesmoke;
    padding: 15px 20px;
    box-shadow: 3px 3px 5px grey;
}

.container2Flotante{
    display: flex;
    width: 270px;
    height: 350px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container2Flotante h3{
    font-weight: bold;
}

.container2Flotante h6{
    margin-bottom: 25px;
}

.cerrar{
    float: right;
    color: #1872b8;
    cursor: pointer;
}

.btnFlotante{
    width: 150px;
    height: 100%;
    background-color:#00b6b6;
    display: block;
    padding: 8px 4px;
    margin-left: 60px;
    border: none;
}

.btnFlotante:hover{
    background-color:#028484;
}

.btnFlotante a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.linkFlotante{
    text-decoration: none;
    color: #1872b8;
    font-weight: bold;
    display: block;
    margin-top: 30px;
}

.linkFlotante:hover{
    color: #053262;
}

/*estilo carrusel*/

.container-slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider{
    display: flex;
    width: 400%;  /*modificar porcentaje dependediendo la cantidad de img (500% = 5 img)*/
    height: 400px;
    margin-left: -100%; /*para que aparezca la primer img primero y no la ultima (la que se cambio con el js)*/
}

.slider__section{
    width: 100%;
}

.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /*para que la img no se estire*/
}

.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: 20px;
    font-family: monospace;
    color: rgba(255, 255, 255, 0.664);
    text-align: center;
    cursor: pointer;
}

.slider__btn:hover{
    color: white;
}

.slider__btn--left{
    left: 10px;
}

.slider__btn--right{
    right: 10px; /*para que se pegue la flecha del lado derecho*/
}

.cajas{
    position: absolute;
    top: 20px;
    left: 10%;
    background-color: white;
    width: 480px;
    height: 300px;
    padding: 30px;
}

.linkCont2{
    position: absolute;
    bottom: -54px;
    left: 0;
    display: block;
    text-decoration: none;
    color: white;
    background-color: #1872b8;
    padding: 15px 20px;
    transition: .2s all linear;
}

.linkCont2:hover{
    color: white;
    background-color: #1547a5;
}

.btn-conoceMas{
    width: 141px;
    padding-left: 27px;
}

.caja-cont-img1 p{
    margin-top: 30px;
    color: rgb(153, 153, 153);
}

.caja-cont-img2 p{
    padding-top: 50px;
    color: rgb(153, 153, 153);
}

.caja-cont-img3 p{
    margin-top: 35px;
    color: rgb(153, 153, 153);
}


.caja-cont-img4 p{
    padding-top: 10px;
    color: rgb(153, 153, 153);
}

.btnOculto{
    display: none;
}

@media  screen and (max-width:599px){
    .slider__img{
        display: block;
        width: 100%;
        height: 100%;
        object-position: right 50%;
    }

    .cajas{
        display: none;
    }

    .btnOculto{
        display: block;
        position: absolute;
        bottom: 20px;
        left: 10%;
        display: block;
        text-decoration: none;
        color: white;
        background-color: #1872b8;
        padding: 15px 20px;
        transition: all .2s linear;
    }

    .referido{
        width: 160px;
        text-align: center;
    }

    .btnOculto:hover{
        color: white;
        background-color: #1547a5;
    }
    
}

/*estilo slider de iconos*/

.cont-iconos{
    display: flex;
    margin-top: 50px;
    margin-left: -40px;
    margin-bottom: 30px;
}

.cont-2-icn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.link-icn{
    display: block;
    width: 150px;
    height: 50px;
    text-decoration: none;
    transition: .3s all linear;
}

.link-icn img{
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
    padding: 5px;
    align-items: center;
    transition: .2s;
}

.link-icn h6{
    display: block;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    color: #1872b8;
    font-size: 16px;
    font-weight: bold;
    transition: .3s;
}

.link-icn:hover{
    transform: translateY(-25px);
}

.icn{
    display: block;
    width: 170px;
    height: 75px;
}

.flechas{
    font-size: 26px;
    font-weight: bold;
    color: #1872b8;
    margin-left: 40px; 
    cursor: pointer;
    position: relative;
    left: 7%;
}

.flechas:hover{
    color: #072146;
}

#btn-der{
    position: relative;
    left: -2%;
}

.ico-7, .ico-8, .ico-9{
    display: none;
}

/*estilo seccion bici*/

.contenido-bici{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #EAF8FB;
    margin-top: 80px;
}

.cont-texto{
    justify-content: center;
    margin: auto;
}

.btn-prueba{                       /*efecto boton----------------------------------------------------------*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 70px;
    margin: auto;
    background-color: #1872b8;
    font-size: 16px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease all;
    position: relative;
    overflow: hidden;
}

.btn-prueba span{
    position: relative;
    z-index: 2;
}

.btn-prueba a{
    text-decoration: none;
    color: white;
}

.btn-prueba::after{
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 80px);
    border-bottom: 80px solid #1547a5;
    border-right: 80px solid #1547a5;
    transition: .5s ease-in-out all;
}

.btn-prueba:hover::after{
    left: 0;
}


.img-bici{
    width: 150px;
    height: 150px;
    margin-left: 80px;
}

/*estilo tarjetas 1*/

.cont-tarj1{
    display: flex;
}

.titulo-tarjetas1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.tarj1{
    background-color:#F5F5F4;
    padding: 0;
    width: 556px;
    height: 600px;
}

.tarj1 a{
    display: block;
}

.texto-tarj1{
    margin-top: 50px;
    margin-left: 30px;
}

.link-cont1{
    margin-top: 120px;
    text-decoration: none;
    color: #1872b8;
    font-weight: bold;
}

.link-cont1:hover{
    color: #072146;
}

/*tarjeta jubilacion*/

.jubilacion{
    display: flex;
    background-color:#F5F5F4;
    padding: 0;
    width: 556px;
    height: 281.14px;
}

.jubilacion a{
    display: block;
    
}

.jubilacion img{
    width: 222.39px;
    height: 281.14px;
    object-fit: cover;
}

.texto-tarj2{
    margin: 50px 0 0 30px;
    justify-content: center;
    font-size: 14px;
}

.texto-tarj2 h6{
    font-weight: bold;
}

.texto-tarj2 p{
    color: rgb(153, 153, 153);
    margin-top: 15px;
}

.texto-tarj2 a{
    text-decoration: none;
    color: #1872b8;
    font-weight: bold;
    margin-top: 100px;
}

.link-jubilacion:hover{
    color: #072146;
}

/*clave digital*/

.claveDigital{
    display: flex;
    background-color:#F5F5F4;
    padding: 0;
    width: 556px;
    height: 281.14px;
    margin-top: 36px;
}

.claveDigital a{
    display: block;
    
}

.img-clave{
    width: 215.10px;
    height: 281.14px;
    object-fit: cover;
}

.texto-tarj3{
    width: 180px;
    height: 281.14px;
    margin-top: 20px;
    margin-left: 30px;
    justify-content: center;
    font-size: 14px;
}

.texto-tarj3 h6{
    font-weight: bold;
}

.texto-tarj3 p{
    color: rgb(153, 153, 153);
    margin-top: 15px;
}

.texto-tarj3 a{
    text-decoration: none;
    color: #1872b8;
    font-weight: bold;
    margin-top: 30px;
}

.link-claveDigital:hover{
    color: #072146;
}

.section-tarj{
    margin-left: 8%;
}

/*estilo seccion cuadrados azul*/

.contenedor-cuadros{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

.seccionAzul{
    background-color: #014581;
    margin-top: 80px;
}

.cont-titulo-c{
    margin: auto;
    text-align: center;
    color: white;
    padding: 40px 0;
}

.cont-titulo-c a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.cont-titulo-c a:hover{
    color: #072146;
}

.cont-primerCuadrado{     /*----------------------------------------------------*/
    display: flex;
    background-color: #053262;
    justify-content: center;
    margin: 0;
    align-items: center;
    width: 600px;
    height: 300px;
    text-decoration: none;
    transition: .3s all linear;
    position: relative;
    overflow: hidden;
}

.cont-primerCuadrado2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.link-tarjAzul{
    display: block;
    text-decoration: none;
    color: white;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: -100px;
    position: relative;
    z-index: 2;
}

.img-movil{
    width: 150px;
    height: 150px;
}

/*estilo segundo cuadro "banca online"*/

.linksCuadro{
    display: block;
    margin: 0;
    padding: 0;
    width: 600px;
    height: 300px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.cont-segCuadro{
    width: 600px;
    height: 300px;
    background-image: url(../img/godigital-banca-online-1.im1585264307061im.jpg);
    background-size: cover;
    transition: .5s all linear;
}

.cont-segCuadro:hover{
    background-position: 2%;
}

.cont-imgCuadro{
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.textoCuadro2{
    margin: 80px 0 0 30px;
}

/*tercer cuadro go*/

.cont-tercerCuadro{
    width: 600px;
    height: 300px;
    background-image: url(../img/godigital-bbva-go-4.im1585264412837im.jpg);
    background-size: cover;
    transition: .5s all linear;
    position: relative;
    overflow: hidden;
}

.cont-tercerCuadro:hover{
    background-position: 20%;
}

.cont-imgCuadro3{
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.textoCuadro3{
    margin: 80px 0 0 30px;
}

/*ultimo cuadro cash*/

.ultimoCuadrado{
    display: flex;
    background-color: #053262;
    justify-content: center;
    margin: 0;
    align-items: center;
    width: 600px;
    height: 300px;
}

.link-ultimo{
    color: white;
}

.img-mano{
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

.texto-cash{
    margin-top: 20px;
}

/*efecto de tarjetas*/

.texto-oculto{
    margin-top: -15px;
    visibility: hidden;
    transition: .3s all linear;
}

.link-tarjAzul{
    transition: .3s all linear;
    z-index: 3;
}

.cont-primerCuadrado:hover .texto-oculto{
    visibility: visible;
    transform: translateY(-7px);
}

.cont-primerCuadrado:hover .link-tarjAzul{
    transform: translateY(-30px);
}





.cont-primerCuadrado::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 50px);
    border-bottom: 300px solid #091f498c;
    border-right: 300px solid #091f498c;
    transition: .5s ease-in-out all;
}

.cont-primerCuadrado:hover::after{
    left: 0;
}

.linksCuadro:hover .texto-oculto{
    visibility: visible;
    transform: translateY(-7px);
}

.textoCuadro2{
    transition: .3s all linear;
    z-index: 3;
}

.linksCuadro:hover .textoCuadro2{
    transform: translateY(-30px);
}

.linksCuadro::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 50px);
    border-bottom: 300px solid #0413308c;
    border-right: 300px solid #0413308c;
    transition: .5s ease-in-out all;
}

.linksCuadro:hover::after{
    left: 0;
}


/**/

.textoCuadro3{
    transition: .3s all linear;
    z-index: 3;
}

.textoCuadro3 .texto-oculto{
    margin-top: 10px;
}

.linksCuadro:hover .textoCuadro3{
    transform: translateY(-30px);
}

/**/

.link-ultimo{
    transition: .3s all linear;
    z-index: 3;
}

.link-ultimo .texto-oculto{
    margin-top: 10px;
}

.linksCuadro:hover .link-ultimo{
    transform: translateY(-30px);
}


/*estilo seccion 3 iconos con fondo circular con efecto*/

.cont-icn-circ{
    height: 370px;
    display: flex;
    justify-content: space-evenly;
    background-color: #dddddc;
    padding: 40px 0;
}

.circulo img{
    width: 72px;
    height: 85.69px;
}

.cont-icono{
    width: 184px;
    height: 184px;
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: .3s all ease-out;
}

.circulo{
    display: block;
    width: 250px;
    height: 150px;
    text-align: center;
    margin: 40px 0;
}

.circulo:hover .cont-icono{
    transform: translateY(-28px);
    background: linear-gradient(150deg, transparent 50%, white 50%)
}

.link-A, .link-B, .link-C{
    text-decoration: none;
    font-weight: bold;
}

.circulo h4{
    color: black;
}

.circulo p:hover{
    color: #072146;
}